---
title: "Certificate verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/toctopics/en-us_topic_0000001972106753.html"
depth: 6
---
#### Function Description

Starts from GDE 25.1 and verifies the certificate.

#### Calling Methods

POST

#### URI

/adc-asset-security-mgt/open/rest/v1/report/validate

**Table 1** Parameters in the formdata request    
| Name | Type | Mandatory or Not (Y/N) | Description |
| :-- | :-- | :-- | :-- |
| file | File | Yes | Files to Be Scanned |