---
title: "Batch Permission Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/zh-cn_topic_PermissionCheckApiService_batch-check-permissionPOST.html"
depth: 6
---
#### Function Description

Starting from GDE 25.2