---
title: "Configuring Run Script Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/service_015.html"
depth: 5
---
#### Context

The **Run Script** validator supports more flexible validation modes through scripts. For details about the syntax and examples of Run Script, see [[Service JavaScript Syntax and API Reference|Service JavaScript Syntax and API Reference]].