---
title: "Viewing the Test Report"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/adc_mate_security_test_view.html"
depth: 4
---
# Viewing the Test Report

You can view the test report in the security test task information on the app pipeline details page. After the security test is complete, click **View**.

**Figure 1** Viewing the security test report  
![[en-us_image_0000001829194945.png]]

You can also view the execution report in the security test list. Procedure:

1.  Choose **CI/CD Toolchain** > **Security Test**.
    
    **Figure 2** Menu entry  
    ![[en-us_image_0000001829074905.png]]
    
2.  Access the report list page.
    
    **Figure 3** Security test list  
    ![[en-us_image_0000001782515170.png]]
    
3.  Click **View Details** in the **Operation** column.
    
    **Figure 4** Viewing the details  
    ![[en-us_image_0000001782515166.png]]
    
4.  Click **View Details**. The **Issue Details** dialog box is displayed.
    
    **Figure 5** Issue details page  
    ![[en-us_image_0000001829074909.png]]
    
5.  Click **Shielded**, enter the masking reason, and click **Confirm**.
    
    **Figure 6** Screen application  
    ![[en-us_image_0000001782355502.png]]
    
6.  Ensure that the issue has been updated to the **Masked** status.
    
    **Figure 7** Issue list  
    ![[en-us_image_0000001829194949.png]]
    

**Parent topic:** [[Security Test|Security Test]]