---
title: "Parameter Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/api_fabric/apifabric_tool_operation_guide_062.html"
depth: 8
---
#### Context

XSD filtering is also supported for SOAP requests and responses. After this policy is configured, if a packet contains fields that are not defined in the XSD, the API Fabric removes these fields during packet transmission.