---
title: "Legacy Asset Template Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/zh-cn_topic_300012612.html"
depth: 5
children: ["Interface for Verifying Legacy Asset Templates"]
---
# Legacy Asset Template Verification

-   **[[Interface for Verifying Legacy Asset Templates|Interface for Verifying Legacy Asset Templates]]**  
    

**Parent topic:** [[Batch Processing|Batch Processing]]

## Sub-topics

- [[Interface for Verifying Legacy Asset Templates]]
