---
title: "Work Order Permission Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/zh-cn_topic_300000020.html"
depth: 5
children: ["Check whether the current user has the permission to create tickets.", "Check whether the current user has the permission to query work order details.", "Check whether the current user has the right to query the work order list.", "Check whether the current user has the authority to process the specified TT.", "Check whether the current user has the permission to operate TT logs."]
---
# Work Order Permission Verification

-   **[[Check whether the current user has the permission to create tickets.|Check whether the current user has the permission to create tickets.]]**  
    
-   **[[Check whether the current user has the permission to query work order details.|Check whether the current user has the permission to query work order details.]]**  
    
-   **[[Check whether the current user has the right to query the work order list.|Check whether the current user has the right to query the work order list.]]**  
    
-   **[[Check whether the current user has the authority to process the specified TT.|Check whether the current user has the authority to process the specified TT.]]**  
    
-   **[[Check whether the current user has the permission to operate TT logs.|Check whether the current user has the permission to operate TT logs.]]**  
    

**Parent topic:** [[Process Engine|Process Engine]]

## Sub-topics

- [[Check whether the current user has the permission to create tickets.]]
- [[Check whether the current user has the permission to query work order details.]]
- [[Check whether the current user has the right to query the work order list.]]
- [[Check whether the current user has the authority to process the specified TT.]]
- [[Check whether the current user has the permission to operate TT logs.]]
