---
title: "App Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/demo_014.html"
depth: 3
children: ["Deploying the App to the Test Environment", "Verifying the App"]
---
# App Verification

-   **[[Deploying the App to the Test Environment|Deploying the App to the Test Environment]]**  
    
-   **[[Verifying the App|Verifying the App]]**  
    

**Parent topic:** [[Developing an Offering Management App|Developing an Offering Management App]]

## Sub-topics

- [[Deploying the App to the Test Environment]]
- [[Verifying the App]]
