---
title: "Viewing the Test Report"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/adc_mate_function_test_view.html"
depth: 4
---
# Viewing the Test Report

1.  Click the menu and select the execution record under the function test.
    
    **Figure 1** Viewing execution records  
    ![[en-us_image_0000001829075045.png]]
    
2.  Click the **View Report** link of the execution record to be viewed.
    
    **Figure 2** Viewing the report  
    ![[en-us_image_0000001782515298.png]]
    
3.  To view the execution details of a case, click **View Details** in the **Operation** column.
    
    **Figure 3** Execution report page  
    ![[en-us_image_0000001829195089.png]]
    
4.  To view a specific execution log, click **View Log**.
    
    **Figure 4** Case execution report  
    ![[en-us_image_0000001782355630.png]]
    
    **Figure 5** Execution log  
    ![[en-us_image_0000001782515302.png]]
    

**Parent topic:** [[Function Test|Function Test]]