---
title: "Configuring TQL Expression Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/service_012.html"
depth: 6
---
#### Context

During TQL expression verification, the length and the left and right values of the TQL query statement can be verified.

For example, the TQL statement "xxx is yyy" is stored in a field. When left value verification is configured, "xxx" is verified. If "xxx" is not a field in the left value model, the verification fails.

If right value verification is configured, the system verifies "yyy". If "yyy" is not a field in the right value model, the verification fails.