---
title: "Configuring Text Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/service_007.html"
depth: 6
---
#### Context

For input parameters of the string type, text verification can be performed on the input elements of the string type.