---
title: "Configuring Number Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/service_011.html"
depth: 6
---
#### Context

For input parameters of the integer type, number verification can be performed on int32 and int64 data types.

For input parameters of the decimal type, number verification can be performed on double and float data types.