---
title: "Configuring Enumeration Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/service_010.html"
depth: 6
---
#### Context

For input parameters of the string type, enumeration verification can be performed on enumerated values.