---
title: "Configuring the IP Address, Email Address, Phone Number, and Alphabet Verification"
source: "https://1057-sg-studio.teleows.com/adc-studio-project-mgt/web/rest/help/doc/en_US/service_021.html"
depth: 6
---
#### Context

For input parameters of the string type, the IP address, email address, phone number, and alphabet verification can be performed on the input elements of the string type.